<!DOCTYPE html>
<html>
<body>

<div class="wrapper">
	<div class="r_form_wrap">
		
		<div class="title">
			<p>Add Questions</p>
		</div>

		<div class="r_form">
			<form>
				<div class="input_wrap">
					<label for="Questions"><h3 style = "color:black;">Question<h3></label>
					<div class="input_item">
						
						<input type="text" name="your name" class="input" id="yourname">
					</div>
				</div>
				<div class="input_wrap">
					<label for="option1"><h4 style = "color:blue;">Option: A</h4></label>
					<div class="input_item">
						
						<input type="text" name="email address" class="input" id="emailaddress">
					</div>
				</div>
				<div class="input_wrap">
					<label for="optionb"><h4 style = "color:blue;">Option: B</h4></label>
					<div class="input_item">
						
						<input type="optionb" name="password" class="input" id="password">
					</div>
				</div>
				<div class="input_wrap">
					<label for="optionc"><h4 style = "color:blue;">Option: C</h4></label>
					<div class="input_item">
						
						<input name="optionc" class="input" id="confirmpassword">
					</div>
				</div>
				<div class="input_wrap">
					<label for="optiond"><h4 style = "color:blue;">Option: D</h4></label>
					<div class="input_item">
						
						<input  name="phone" class="input" id="phone">
					</div>
				</div>
				<div class="input_wrap">
					<label for="correctA"><b><h4 style = "color:green;">Correct Answer</h4><b></label>
					<div class="input_item">
						
						<input type="text" name="your name" class="input" id="yourname">
					</div>
				</div>

				<button>Add Now</button>
			</form>
		</div>

	</div>
</div>

</body>
</html>















